<%- include('partials/header') %>
    <h1>About</h1>
    <p>
        Hello. My name is Christian Cano. I am a self-taught full-stack developer from Stockton, California. I used to
        teach Spanish and 5th Grade before deciding to embark on this programming journey. It's been a long,
        challenging, and rewarding journey. Building web applications from scratch is something I never thought I would
        be able to do. I am appreciative that you took time to view this web page.
    </p>
    <%- include('partials/footer') %>