<%- include('partials/header') %>

    <h1>
        <%= entry.title %>
    </h1>
    <p>
        <%= entry.post%>
    </p>
    <a href="/" type="button" class="btn btn-primary">Home</a>

    <%- include('partials/footer') %>